@font-face {
    font-family: nintendo;
    src: url(/assets/RoSpritendoSemiboldBeta-vmVwZ.otf);
}

#email-password-form {
  margin-bottom: 2rem;
}

.auth-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("/assets/background.png");
}

.auth-card {
  background-color: #2c2c2c;
  padding: 2rem;
  margin: 1rem;
  border-radius: 1rem;
  width: 100%;
  max-width: 400px;
  text-align: center;
  color: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.4);
}

.auth-card h2 {
  margin-bottom: 1.5rem;
  font-size: 2rem;
  font-family: nintendo;
}

.auth-card input {
  width: 80%;
  margin: 0.75rem 0;
  padding: 0.75rem 1rem;
  border: none;
  border-radius: 0.5rem;
  font-family: 'Fira Code', monospace;
  font-size: 1rem;
  background-color: #3a3a3a;
  color: white;
}

.auth-card input::placeholder {
  color: #aaa;
}

.auth-card button {
  width: 100%;
  padding: 0.75rem;
  margin-top: 1rem;
  border: none;
  border-radius: 0.5rem;
  background-color: #cb0011;
  color: white;
  font-family: "Fira Code", Menlo, Consolas, monospace;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  transition: transform 0.2s ease, background-color 0.3s ease;
}

.auth-card button:hover {
  transform: scale(1.05);
  background-color: #dd0e20;
}

#sign-up-button {
  width: 30%;
  border-radius: 2rem;
}

#google-button {
  background-color: #ffffff;
  color: #7d7d7d;
  margin-top: 0.75rem;
  font-weight: normal;
}

#google-button:hover {
  background-color: #dddddd;
}

.toggle-link {
  margin-top: 1rem;
  color: #aaa;
  cursor: pointer;
  font-size: 1rem;
  text-decoration: underline;
}

#logo {
  width: 4rem;
  vertical-align: bottom;
}

.error-message {
  color: #ff5967;
  padding-top: 20px;
  font-family: "Fira Code", monospace;
}

.requirements-list {
  text-align: left;
  margin-top: 1rem;
  font-size: 0.95rem;
  font-family: "Fira Code", monospace;
}

.requirements-list p {
  margin: 4px 0;
}

.valid {
  color: #4caf50; /* green */
}

.invalid {
  color: #ff5967; /* red */
}

@media (max-width: 480px) {
  .auth-card {
    padding: 1.5rem;
  }

  .auth-card h2 {
    font-size: 1.5rem;
  }

  .auth-card input,
  .auth-card button {
    font-size: 0.95rem;
  }
}

@media (max-height: 465px) {
    .auth-card {
    padding: 1.5rem;
  }

  .auth-card h2 {
    font-size: 1.5rem;
  }

  .auth-card input,
  .auth-card button {
    font-size: 0.95rem;
  }
}
