@font-face {
    font-family: "comfortaa-bold";
    src: url(./assets/Comfortaa_Bold.ttf);
}
@font-face {
    font-family: "comfortaa-thin";
    src: url(./assets/Comfortaa_Thin.ttf);
}

.card-container {
    width: auto;
    height: 200px;
    border-radius: 25px;
    color: white;
    padding: 5px;
    margin: 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s;
}

.card-container:hover {
    filter: brightness(120%);
}

.game-text-container {
    padding: 15px;
    margin-left: 10px;
    border-radius: 25px;
    backdrop-filter: contrast(30%);
}

h2 {
    font-family: "comfortaa-bold";
}
h3 {
    font-family: "comfortaa-thin";
}