@font-face {
    font-family: videophreak;
    src: url('./assets/VIDEOPHREAK.ttf');
}

@font-face {
    font-family: comfortaa;
    src: url("./assets/Comfortaa_Regular.ttf");
    font-weight: normal;
}

@font-face {
    font-family: comfortaa;
    src: url("./assets/Comfortaa_Bold.ttf");
    font-weight: bold;
}

.side-bar {
    flex: 1;
    padding: 1%;
    color: white;
    overflow-y: auto;
    width: 20%;
    min-width: 200px;
    max-width: 400px;
}

#game-photo {
    width: 100%;
}

#game-title-map {
    font-size: 2rem;
    margin-top: 30px;
    margin-bottom: 0px;
}
#game-subtitle-map {
    font-family: videophreak;
    text-align: center;
    font-size: 1.4rem;
}

#game-description-map {
    font-family: comfortaa;
    padding: 10px;
    background-color: rgb(51, 51, 51);
    line-height: 1.5;
    border-radius: 10px;
    font-size: medium;
    height: 250px;
    overflow-y: auto;
}

.home {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.home-link {
    display: inline-flex;
    align-items: center;
    background-color: rgb(56, 245, 91);
    border-radius: 5px;
    padding: 4px;
    transition: all 0.5s;
}

.home-link:hover {
    background-color: rgb(10, 199, 45);
}

.arrow-back {
    width: 30px;
    height: 20px;
}

.other-map {
    font-family: 'comfortaa', sans-serif;
    font-weight: bold;
    margin: 0px 0px 0px 10px;
    color: white;
    font-size: 1.1rem;
}
