@font-face {
    font-family: 'comfortaa';
    src: url(/assets/Comfortaa_Regular.ttf);
}

.filter-button-selected {
    height: 90px;
    width: 60px;
    padding: 1px;
    margin: 5px;
    background-color: rgb(51, 51, 51);
    border: 2px solid #e4000f;
    cursor: pointer;
    display: flex;
    justify-content: center;
    flex-direction: column;
    transition: all 0.3s;
    border-radius: 10%;
}
.filter-button-unselected {
    height: 90px;
    width: 60px;
    padding: 3px;
    margin: 3px;
    background-color: rgb(51, 51, 51);
    border: 2px solid #2e2e2e;
    cursor: pointer;
    display: flex;
    justify-content: center;
    flex-direction: column;
    transition: all 0.3s;
    border-radius: 10%;
}
.filter-button-pic {
    max-height: 45px;
    max-width: 45px;
    height: auto;
    width: auto;
    margin: auto;
}
.filter-button-name {
    font-family: 'comfortaa';
    margin: 5px 0px 0px 0px;
    display: flex;
    font-size: x-small;
    justify-content: center;
}
