@font-face {
    font-family: "comfortaa-bold";
    src: url(/assets/Comfortaa_Bold.ttf);
}
@font-face {
    font-family: "comfortaa-thin";
    src: url(/assets/Comfortaa_Thin.ttf);
}

.link-container {
    margin: 10px;
}

.card-link {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-container {
    width: 100%;
    height: 180px;
    border-radius: 25px;
    color: white;
    display: flex;
    align-items: flex-end;
    cursor: pointer;
    transition: all 0.3s;
}

.card-container:hover {
    filter: brightness(115%);
    background-image: scale(1.05);
}

.game-text-container {
    padding: 12px;
    border-radius: 0px 25px 0px 25px;
    backdrop-filter: brightness(70%) blur(2px);

}

.game-card-not-available {
    width: 100%;
    height: 180px;
    border-radius: 25px;
    color: white;
    display: flex;
    align-items: flex-end;
    cursor: pointer;
    transition: all 0.3s;
    filter: grayscale(100%);
}

.game-card-not-available:hover {
    border: 1rem;
    border-color: red;
    filter: grayscale(100%) brightness(85%);
}

h2 {
    font-family: "Comfortaa";
    font-weight: normal;
    margin: 1px;
}

h3 {
    font-family: "Comfortaa";
    font-weight: lighter;
    margin: 1px;
}

a {
    text-decoration: none;
}