@font-face {
    font-family: "comfortaa-bold";
    src: url(/assets/Comfortaa_Bold.ttf);
}
@font-face {
    font-family: "comfortaa-thin";
    src: url(/assets/Comfortaa_Thin.ttf);
}

.card-container {
    width: 95%;
    height: 200px;
    border-radius: 25px;
    color: white;
    padding: 15px;
    margin: 8px auto;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s;
}

.card-container:hover {
    filter: brightness(115%);
    transform: scale(1.05) rotate(-1deg);
}

.game-text-container {
    padding: 15px;
    margin-left: 10px;
    border-radius: 25px;
    backdrop-filter: contrast(30%);
}

.game-card-not-available {
    width: 95%;
    height: 200px;
    border-radius: 25px;
    color: white;
    padding: 15px;
    margin: 8px auto;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s;
    filter: grayscale(100%);
}

.game-card-not-available:hover {
    border: 1rem;
    border-color: red;
    filter: grayscale(100%) brightness(85%);
    transform: scale(1.05) rotate(-1deg);
}

h2 {
    font-family: "Comfortaa";
    font-weight: normal;
}

h3 {
    font-family: "Comfortaa";
    font-weight: lighter;
}

a {
    text-decoration: none;
}