@font-face {
    font-family: comfortaa;
    src: url("/assets/Comfortaa_Regular.ttf");
    font-weight: normal;
}

.leaflet-popup-content-wrapper {
    background-color: rgb(31, 31, 31);
    font-family: comfortaa;
}

.leaflet-popup-content a {
    color: #ffbfc3;
    text-decoration: underline;
}

.leaflet-popup-content {
    color: white;
}

.leaflet-container {
    height: 100%;
    width: 100%;
    background-color: rgb(24, 24, 24);
}

.leaflet-popup-tip {
    background-color: rgb(31, 31, 31);
    border: 2px;
    border-color: #e4000f;
}

.leaflet-bar a {
    background-color: #e4000f;
    color: white;
    transition: all 0.2s;
}

.leaflet-bar a.leaflet-disabled {
    background-color: #ae1923;
    color: white;
}

.leaflet-bar a:hover, .leaflet-bar a:focus {
    background-color: #ff2130
}

.leaflet-control-attribution.leaflet-control {
    background-color: rgb(0, 0, 0, 0);
}

.leaflet-control-attribution.leaflet-control a {
    font-family: comfortaa;
    color: #e4000f;
}

.leaflet-popup-close-button span {
    color: white;
    transition: color 0.2s;
}

.leaflet-popup-close-button span:hover {
    color: #ff6d77;
}

.leaflet-control-zoom.leaflet-bar.leaflet-control {
    border: none;
    box-shadow: 3px 3px 8px rgb(49, 49, 49);;
}

.leaflet-top.leaflet-left {
    top: unset;
    bottom: 10px;
    left: 0px;
}

#completed-button {
    background-color: #e4000f;
    color: white;
    border: none;
    border-radius: 15px;
    padding: 0.65rem;
    transition: all ease-in-out 200ms;
    width: fit-content;
    cursor: pointer;
}

#completed-button:hover {
    background-color: #dc313d;
    scale: 1.03;
    
}

#marker-name {
    font-size: larger;
}

#map {
    border-radius: 1rem;
}

.fill-container {
    width: 100%;
    height: 100%;
}

.top-container {
    position: absolute;
    left: 0; 
    right: 0;
    display: flex;
    flex-direction: row;
    background-color: rgb(31, 31, 31);
    z-index: 799;
    padding: 0;
    padding-top: 4px;
    padding-bottom: 4px;
    height: 40px;
}

.status-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.status-container h3 {
    padding: 0.5rem;
}

#bar-container {
    width: 30%;
    height: 60%;
    background-color: white;
    border-radius: 1rem;
}

#actual-bar {
    position: relative;
    height: 100%;
    top: 0px;
    left: 0px;
    background: linear-gradient(to right, #ff4e50, #f00000);;
    border-radius: 1rem;
    transition: width 0.4s ease-in-out;
}

.spinner {
  display: inline-block;
  margin-left: 8px;
  width: 12px;
  height: 12px;
  border: 2px solid white;
  border-top: 2px solid transparent;
  border-radius: 50%;
  animation: spin 0.6s linear infinite;
  vertical-align: middle;
}

.wrapper {
    position: relative;
    height: 100%;
    width: 100%;
}

@keyframes spin {
  to { transform: rotate(360deg); }
}


@media (max-width: 650px) {
    .top-container {
        width: 100%;
        left: 0;
        padding: 0;
        padding-top: 0px;
        padding-bottom: 4px;

    }

    #bar-container {
        width: 40%;
    }
}