@font-face {
    font-family: "videophreak";
    src: url(fonts/VIDEOPHREAK.ttf);
}
@font-face {
    font-family: "comforta";
    src: url(fonts/Comfortaa_Bold.ttf);
    font-weight: bold;
}
@font-face {
    font-family: "comforta";
    src: url(fonts/Comfortaa_Regular.ttf);
}
@font-face {
    font-family: "comforta";
    src: url(fonts/Comfortaa_Thin.ttf);
    font-weight: lighter;
}

::selection {
    background-color: #14A098;
    color: white;
}

#background-video {
    object-fit: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -2;
    
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: comforta;
    margin: 0;
}

.fill-in {
    object-fit: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: rgb(20, 46, 52);
    opacity: 0.95;
}

.title {
    font-family: "videophreak";
    font-size: 7vw;
    display: flex;
    justify-content: center;
    color: white;
    margin: 30px;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sign-in {
    display: flex;
    justify-content: center;
    padding: 5px;
}

.sign-in button {
    font-family: comforta;
    background-color: #CB2D6F;
    font-size: x-large;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 60px;
    height: 75px;
    width: 150px;
    margin: 15px;
    cursor: pointer;
    transition: all 0.5s;
}

.sign-in button:hover {
    height: 80px;
    width: 160px;
    background-color: #e95f98;
    color: white;
}

#second-button {
    background-color: #CCCCCC;
    color: #CB2D6F;
    font-weight: bold;
    transition: all 0.5s;
}

#second-button:hover {
    background-color: #e95f98;
    color: white;
}

a {
    color: #CCCCCC;
    text-decoration: none;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
    font-size: large;
    transition: all 0.5s;
}

a:visited {
    color: #c2648b;
}

a:hover {
    text-decoration: underline;
}
