/* styles/index.css */
@font-face {
    font-family: comfortaa;
    src: url(/styles/fonts/Comfortaa_Bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: comfortaa;
    src: url(/styles/fonts/Comfortaa_Regular.ttf);
}

html, body {
    font-family: comfortaa;
    padding: 0;
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.main-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

#sidebar {
    flex: 1;
    padding: 2%;
    background-color: #0f292f;
    color: white;
    overflow-y: auto;
    width: 20%;
}

.game-image {
    width: 100%;
}

input {
    width: 95%;
}

#top-search {
    color: #501f3a;
    font-size: large;
    border-radius: 15px;
    border: none;
    padding: 5px;
    padding-left: 10px;
}

#game-photo {
    border-radius: 20px;
}

.button-container {
    background-color: #14a098;
    padding: 15px;
    border-radius: 15px;
}

.button-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    overflow: auto;
}

.profile-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

footer {
    font-family: comfortaa;
    color: white;
    padding: 10px 2%;
    background-color: #0f292f;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    bottom: 0;
    width: 20%;
}

.filter-button {
    border-radius: 15px;
}
