html, body {
    border-radius: 0px;
    padding: 0px;
    margin: 0px;
    height: 100%;
}

#sidebar {
    padding: 2%;
    height: 100%;
    width: 20%;
    background-color: rgb(61, 61, 61);
    color: white;
}

.game-image {
    width: 100%;
}

input {
    width: 90%;
}