/* styles/index.css */
@font-face {
    font-family: comfortaa;
    src: url(/styles/fonts/Comfortaa_Bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: comfortaa;
    src: url(/styles/fonts/Comfortaa_Regular.ttf);
}

html, body {
    font-family: comfortaa;
    padding: 0;
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.main-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

#sidebar {
    flex: 1;
    padding: 2%;
    background-color: #0f292f;
    color: white;
    overflow-y: auto;
    width: 20%;
    min-width: 200px;
    max-width: 400px;
}

.game-image {
    width: 100%;
}

input {
    width: 95%;
}

#top-search {
    color: #501f3a;
    font-size: large;
    border-radius: 15px;
    border: none;
    padding: 5px;
    padding-left: 10px;
}

#game-photo {
    border-radius: 20px;
}

.button-container {
    background-color: #14a098;
    padding: 15px;
    border-radius: 15px;
}

.button-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    overflow: auto;
}

.filter-button {
    border-radius: 15px;
    background: none;
    border: none;
    font-family: comfortaa;
    color: white;
    cursor: pointer;
    transition: all 0.29s;
}
.filter-button:hover {
    background-color: pink;
}

.filter-button:focus {
    background-color: #CB2D6F;
}

.button-icon {
    padding-top: 4px;
    width: 40px;
}

.icon-name {
    margin: 4px;
}

.profile-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 8px;
}

#fav-map {
    font-family: comfortaa;
    font-size: large;
    font-weight: bold;
    background-color: #CCCCCC;
    color: #CB2D6F;
    transition: all 0.3s;
    border: none;
    border-radius: 20px;
    padding: 12px;
    cursor: pointer;
}

#fav-map:hover {
    background-color: #CB2D6F;
    color: #CCCCCC;
}

#fav-game {
    font-family: comfortaa;
    background-color: #CCCCCC;
    color: #CB2D6F;
    font-weight: bold;
    transition: all 0.3s;
    border: none;
    border-radius: 20px;
    padding: 12px;
    font-size: large;
    cursor: pointer;
}

#fav-game:hover {
    background-color: #CB2D6F;
    color: #CCCCCC;
}

footer {
    font-family: comfortaa;
    color: white;
    padding: 10px 2%;
    background-color: #0f292f;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    bottom: 0;
    width: 20%;
    min-width: 200px;
    max-width: 400px;
}